<div class="section about" id="about">
    <h2 class="title center">About Me</h2>
    <p>
        Hello! I'm Callum, a Computer Science student in their third year at King's College London.
        I can develop various software, usually utilising Python, but with a working knowledge of other languages such as C++, Javascript and Java.
        I have experience doing so both independently and as part of a team within an organisation during summer placements.
    </p>
    <p>I'm also avid for the area of Cybersecurity, having partaken in multiple programs and earned multiple professional certifications in the subject area,
        and I am looking forward to opportunities to fully apply them in a practical setting.
    </p>
    <p>
        In my spare time, I try to keep up with Formula One, enjoy playing games like Destiny 2, and going out for (short) bike rides!
    </p>
</div>
