<div class="section contact" id="contact">
    <h2 class="title center">Contact</h2>
    <div class="content center">
        <noscript><b>Some elements of this section (mainly the email address displays) require JavaScript to function as an anti-bot measure.
            You appear to currently have JavaScript disabled - please enable it to utilise these elements.</b></noscript>
        <p>I have a presence on a variety of digital platforms, including <a href="https://twitter.com/Cal_Cybr">Twitter</a> and <a href="https://www.linkedin.com/in/callum-fr/">LinkedIn</a>.
            Please feel free to take a look, say hello, and send a message if you'd like to reach out in any way!</p>
        <p>
            If you'd prefer to contact me via email, you can do so at
            <span data-enc-data="KpxRkhM2p88JPZVIBpKQFQRuupTirsCZYFQutobV7TZo3Rp9cv7c62fc9rBeVOnrCEVX5eDhLhkIuct6uBrd8C3hEHNQOYiEz+yHstBw67c=" data-iv="ocYR7hP0pw6Oe7HOhm6VFg==" data-salt="N4fmNcpQkZMQY5tuTWAV5Q==" id="1e1d08ec319118d2a4f43826">
             <a href="#" onclick="attemptDecryptElement(document.getElementById('1e1d08ec319118d2a4f43826'),'basicemailobsfc'); return false">
              <b>
               [Click to reveal]
              </b>
             </a>
            </span>.
            Please don't send me any spam - it's a waste of both our time.
        </p>
        <p>I additionally control and use some alternate email addresses, listed below. I'd prefer to be contacted via the above address; but depending on the circumstance may additionally use any of the following addresses:</p>
        <span data-enc-data="lIXunXLqzhpRgKtM3wlP+xarY2jj3ZC/Y7yl3kvykMI8Q7ctr+Q0OKPo+39XOSPS0u4jhEgDU+ICGh2dw1MLshvKoBXJlBPDS1VD9saZVXmGNynha+BAVbk14CEFCU07jJjH5eUwiFBNpEPTcSJhrwLjbKC2L17aNEb6TMcVlBM2xj2UuE5y1BRUXK0Q2wSdDuCcqSvEzyX64dno9ch29RWrrq6R211m6RL74WCPqcT8YY/Uj++P9IfTTq5F36AjMbHlIJh9Hyk+Vv2SP91sWLw+ggSpTHRthPrdlMlcFx0kNJV5eUv1h8ivokA2YFLqzNP0xz7K0t3Aje5qDXsFcY9W1Gf+sANERpE9pnRCzBAe4WtgV+DnHztaxNlOsNfc" data-iv="p2Fjs2Hd5bEDcJACG0nC/g==" data-salt="uizssItaOz6xmH1J+ZFq/Q==" id="e67757cc8c0e4269528bb078">
         <a href="#" onclick="attemptDecryptElement(document.getElementById('e67757cc8c0e4269528bb078'),'basicemailobsfc'); return false">
          <b>
           [Click to reveal]
          </b>
         </a>
        </span>
    </div>
</div>