<div class="section contact" id="contact">
    <h2 class="title center">Contact</h2>
    <div class="content center">
        <noscript><b>Some elements of this section (mainly the email address displays) require JavaScript to function as an anti-bot measure.
            You appear to currently have JavaScript disabled - please enable it to utilise these elements.</b></noscript>
        <p>I have a presence on a variety of digital platforms, including <a href="https://twitter.com/Cal_Cybr">Twitter</a> and <a href="https://www.linkedin.com/in/callum-fr/">LinkedIn</a>.
            Please feel free to take a look, say hello, and send a message if you'd like to reach out in any way!</p>
        <p>
            If you'd prefer to contact me via email, you can do so at
            <span data-enc-data="KpxRkhM2p88JPZVIBpKQFQRuupTirsCZYFQutobV7TZo3Rp9cv7c62fc9rBeVOnrCEVX5eDhLhkIuct6uBrd8C3hEHNQOYiEz+yHstBw67c=" data-iv="ocYR7hP0pw6Oe7HOhm6VFg==" data-salt="N4fmNcpQkZMQY5tuTWAV5Q==" id="1e1d08ec319118d2a4f43826">
             <a href="#" onclick="attemptDecryptElement(document.getElementById('1e1d08ec319118d2a4f43826'),'basicemailobsfc'); return false">
              <b>
               [Click to reveal]
              </b>
             </a>
            </span>.
            Please don't send me any spam - it's a waste of both our time.
        </p>
    </div>
</div>
