<div class="section projects" id="projects">
    <h2 class="title center">Projects</h2>
    <p>
       I've taken part in many projects over the years - below are just a couple of note.
    </p>

    <h3>Online Communities</h3>
    <p>
        I helped establish and build a community consisting of over 30k members at its peak revolving around the concept
        of Alternate Reality Games (ARGs). As part of this, I was the primary developer of both a website through
        multiple iterations (initially built on PHP, now Python) which hosted information and challenges for users
        to attempt themselves, and a Discord Bot which integrated with various systems such as the website, a
        MediaWiki installation, and the Twitter API.
        I additionally aided in development on cross-promotional events with a variety of commercial organisations,
        creating the backend for small websites to facilitate these promotions and helping manage the community.
        Although still currently holding a position within the community, the community is dormant as of late.
    </p>

    <h3>Summer Placements</h3>
    <p>
        During my summers at university, I have been taking on 8 week work placements where I've worked within a team
        of peers to produce a piece of prototype software aligned with Cyber Security principles, which can then be
        further developed and refined by employees and hopefully used in production eventually. We did so using
        agile principles, holding two-week long sprints over the duration of the placement.
    </p>
    <p>
        I played a part in developing a dashboard displaying information from various sources, alongside a tool to
        automate a file processing workflow; both times engaging with new technologies and tools such as React.
    </p>

    <h3>Memory Lane</h3>
    <p>
        Myself, and a couple of my friends, worked together on a project at a hackathon in late 2019.
        We put together a website designed to let you place pins with comments onto a map, designed in such a way
        that you can plot your memories and share them with the world. We won an award at the hackathon for it,
        and we documented some information and screenshots on <a href="https://devpost.com/software/memory-lane-g43a72">DevPost</a>.
    </p>

    <h3>University Individual Project</h3>
    <p>
        As part of my studies, I created a suite of tools which could be utilised to collect data from the Twitter API
        about users, extract features from that data, and then train a random forest model on that data which can
        then be used for classification of these accounts. In the project, we did so to determine whether accounts
        were automated, but the framework is generalised.
        This aided my understanding of Machine Learning greatly, alongside design of applications for command line use.
    </p>
    <p>
        Currently, this work is being assessed and as a result can't be distributed - however I hope to distribute this
        work on GitHub pending permission.
    </p>

    <h3>Side Projects</h3>
    <p>
        I occasionally work on <a href="https://github.com/calfr/element-encrypt">element-encrypt</a>, a project which
        allows for the client-side encryption of individual elements on webpages with passwords; which is also in use
        on this website as an email-obfuscation tool.
    </p>
    <p>
        I additionally often work on projects myself to learn new skills; and have done so for software such as
        Docker and Ansible - however none of these projects have yet reached a ready-for-release stage.
    </p>
</div>
