<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <!-- Icon font.-->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
</head>
<body>
<div class="page-container">
<div class="page-head">
    <div class="namemark center">Callum Fraser</div>
</div>
<div class="navbar">
    <a href="/#">About</a>
    <a href="/#contact">Contact</a>
    <a href="/#projects">Projects</a>
    <a href="/posts">Posts</a>
</div>
<div class="page-content">
{{ content }}
</div>
<div class="center page-footer">
    Made with 💻 and 🍰 by Callum
</div>
</div>
</body>
<script src="/static/js/welcoming.js"></script>
<script src="/static/js/projects.js"></script>
<script crossorigin="anonymous" integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A==" referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="/static/js/element-encrypt.js"></script>
</html>